#background{
    margin-left: 40px;

}
body {
	background-image: url("back7.jpg");
}
.jumbotron{
	background-color:  #ffe6ee;
    color: #002266;
    font-family: 'Pacifico', cursive;
    text-align: center;
}
#tableform{
	background-color: #002266;
}
